---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Home">


<h1>AI</h1>
<p>As of today, March 16, 2026, here is how I use generative AI/LLM tools.</p>

<h2>Writing</h2>
<p>A lot.</p>

<h2>Art</h2>
<p>You betcha.</p>

<h2>Research</h2>
<p>Yes; again.</p>

</BaseLayout>