---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Art">

  

<h1>Shaping Web3 Culture Since 2019</h1>
<p>Second Realm (stylized as SΞCONĐ RΞΛLM) is the pseudonym adopted by Eric Rhodes, and it's also the eponymous name of his digital art studio.</p>


 <hr />
<!-- Main Hero Image -->
<div class="hero-main">
       <a href="https://x.com/MortalProphet/media" target="_blank">
            <img src="/img/mortalprophet-header.png" alt="Agentic Art Collective (Second Realm x Iris Dayrise)">
        </a>
        <div class="project-caption">
            <h4><strong>Mortal Prophet</strong> <em>(2026)</em></h4>
            <p>An agentic art collective</p>
        </div>
</div>

<!-- First Row of 3 Squares -->
<div class="project-grid">

    <div class="project-square">
        <a href="https://unofficialpunks.secondrealm.com" target="_blank">
            <img src="/img/unofficialpunks-header.png" alt="Unofficial Punks - pioneering collection that sparked the AltPunks movement">
        </a>
        <div class="project-caption">
            <h4><strong>Unofficial Punks</strong> <em>(2021-2023)</em></h4>
            <p>A pioneering collection that sparked the AltPunks movement.</p>
        </div>
    </div>

    
    <div class="project-square">
        <a href="https://legacy.secondrealm.com/posts/sinthesis/" target="_blank">
            <img src="/img/sinthesis-hero.png" alt="A collection of 100 hand-generated PFPs">
        </a>
        <div class="project-caption">
            <h4><strong>SINthesis</strong> <em>(2021)</em></h4>
            <p>A collection of 100 hand-generated PFPs.</p>
        </div>
    </div>

    
    <div class="project-square">
        <a href="https://legacy.secondrealm.com" target="_blank">
            <img src="/img/sr-banner.png" alt="Second Realm's Studio - archive of early crypto art work">
        </a>
        <div class="project-caption">
            <h4><strong>Second Realm's Studio</strong> <em>(2019-2024)</em></h4>
            <p>An archive of my early crypto art work.</p>
        </div>
    </div>
</div>

<!-- Second Row of 3 Squares (placeholder for future projects)
<div class="project-grid">
    <div class="project-square">
        <div class="project-placeholder">
            <h4>Future Project</h4>
            <p>Coming soon...</p>
        </div>
    </div>
    
    <div class="project-square">
        <div class="project-placeholder">
            <h4>Future Project</h4>
            <p>Coming soon...</p>
        </div>
    </div>
    
    <div class="project-square">
        <div class="project-placeholder">
            <h4>Future Project</h4>
            <p>Coming soon...</p>
        </div>
    </div>
</div> -->



<hr>


<h2><span class="highlight">Artist CV<span></h2>


<h3>Physical Exhibitions & Shows</h3>

<ul>
  <li>Asprey Studio <i>“ASC Member Wall”</i> London, England <cite>2023</cite></li>
  <li>Accelerate Art <i>“A2 Mobile Gallery”</i> New York, NY <cite>2023</cite></li>
  <li>Institut Francais <i>“NFT et crypto-esthétiques”</i> Casablanca, Morocco <cite>2023</cite></li>
  <li>Digital Surgeons <i>“After Dinner Mints”</i> New Haven, CT <cite>2022</cite></li>
  <li>SCI-Arc <i>“A Fylthy Trash Art Exhibition”</i> Los Angeles, CA <cite>2022</cite></li>
  <li>L’Avant Galerie Vossen <i>“#Trashart: NFT Garbology”</i> Paris, France <cite>2022</cite></li>
  <li>IRL ART <i>“U’R,L”</i> Denver, CO <cite>2021</cite></li>
  <li>Interspace Gallery <i>“Crypto Art Show #2”</i> Los Angeles, CA <cite>2020</cite></li>
</ul>

<hr>

<h3>Digital Exhibitions & Shows</h3>
<ul>
  <li>Museum of Crypto Art <i>“Utopia Dystopia”</i> museumofcrypto.com <cite>2024</cite></li>
  <li>Natural Habitat Museum <i>“#StayHomeGoViral”</i> natural-habitat.com <cite>2020</cite></li>
</ul>

<hr>

<h3>Books</h3>
<ul>
  <li>PUNKS: NOT DED by Sean Bonner <cite>2025</cite> <em>(featured collection)</em></li>
  <li>On NFTs by TASCHEN <cite>2023</cite> <em>(exhibition history)</em></li>
</ul>

<hr>

<h3>Press</h3>
<ul>
  <li>What is Trash Art?, MakersPlace <cite>Feb 17, 2024</cite></li>
  <li>Art as Therapy, AltPunks, Trash Art, & Diamond Hearts, MakersPlace <cite>Jul 12, 2023</cite></li>
  <li>What Exactly is Trash Art?, NFTS.WTF <cite>May 12, 2021</cite></li>
  <li>Men of Crypto Attempt to Master the Art of the Thirst Trap, The Defiant <cite>Feb 9, 2021</cite></li>
  <li>Digital Trash – FOMA Magazine <cite>May 2020</cite></li>
</ul>

<hr>

<h3>Awards & Honors</h3>
<ul>
  <li>Honorary DeCC0s Club, Museum of Crypto Art <cite>2025</cite></li>
  <li>Honorary ittybits, Jeremy Posvar (ittybits founder) <cite>2024</cite></li>
  <li>Web3 People Portrait, Aleksandra Artamonovskaja <cite>2023</cite></li>
  <li>People’s Choice Award, NFT Awards <cite>2020</cite></li>
  <li>Shortlisted for Most Innovative NFT, NFT Awards <cite>2020</cite></li>
  <li>Genesis Mint, SuperRare <cite>2019</cite></li>
</ul>
<hr>

<h3>Collections</h3>
<ul>
  <li>Museum of Crypto Art Permanent Collection <cite>2021</cite></li>
</ul>


</BaseLayout>