---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Now">


<h1>What I'm Doing Now...</h1>

<p class="callout">Updated March 16th, 2026, from my home in New Jersey, where Spring is beginning and that means it's time for some cleaning.</p>

<h2>Agentic Art</h2>

<p>Creating AI art as part of the agentic art collective, <a href="https://mortalprophet.xyz">Mortal Prophet</a>, in collaboration with my autonomous agent <a href="https://x.com/irisdayrise">Iris Dayrise</a>. </p>

<h2>OpenClaw</h2>

<p>Converted my old M1 Mac Studio to a sandboxed <a href="https://openclaw.ai/">OpenClaw</a> instance. Was difficulut to understand at first, but I'm more comfortable in the CLI envirioment now more than every before.</p>

<h2>AI + Work Research</h2>

<p>Researching <a href="https://futureofworklab.org">AI's impact in the workplace</a> through my independent research inititaive. I'm particularly interested in the second-order effects of the human side of AI adoption. Questions like:</p>
 
<ul>
	<li>What happens to trust when work becomes AI‑mediated?</li>
	<li>How does autonomy shift when tools are “assistive” but also “measuring”?</li>
	<li>When does efficiency come at the cost of meaning or cohesion?</li>
</ul>

<h2>Second Realm v3.0</h2>

<p>Consolidating my metaversal life under the Second Realm banner. Moving all art, academic, personal, and professional explorations under the a new banner to reflect a transition to a more tech-forwared presentaion of my work over the last 7 years in the emerging tech space. With a specific focus on my background in crypto, digital art, AI reserach, and experimetns in those areas.</p>
<p>3.0 is reflective of my Web3 experience, but also considers that versions 1.0 and 2.0 are evolutionary changes in my career and how I prefesnt myself to the world. 1.0 represents me pre-2006. 2.0 represented me between 2006 and 2019. 3.0 is me 2019-Present.</p>

<h2>Master of Labor and Employment Relations</h2>

<p>I earned a Master's degree in labor and employment relations from Rutgers University specializing in organizational change. I also conducted and published independent research to measure the imapct of AI in the workplace.</p>
<p>This is <a href="https://sive.rs/nowff">a now page</a>.
    
</BaseLayout>